html, body, .container-fluid {
  background-color: #f7f7f7;
  font-size: 62.5%;
}

.text-input {
  font-size: 16px;
}

.hash-output {
  color: #575B5E;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  color: #575B5E;
  font-weight: normal;
}

#container {
    font-size: 1.8rem;
    margin-top: 2.6rem;
    background-color: #d6d8dc;
}

h1 { padding: 1rem; }
h2 { padding-bottom: 0.5rem; }

h2,
.all-jobs-list li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.all-jobs-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.all-jobs-list li {
    margin-bottom: 1rem;
}
.all-jobs-list li > * {
    vertical-align: middle;
}

/* http://www.colourlovers.com/palette/4284452/Waffle
red: #B83564
blue: #6E79BC
green: #83B8AA
yellow: #FF6A5A
disabled: #272D4D
*/
.job-item-status {
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 1rem;
}
.job-item.blue .job-item-status {
    background-color: #6E79BC;
}
.job-item.green .job-item-status {
    background-color: #83B8AA;
}
.job-item.red .job-item-status {
    background-color: #B83564;
}
.job-item.yellow .job-item-status {
    background-color: #FF6A5A;
}

.job-item-disabled {
    opacity: 0.6;
}
.job-item.unknown .job-item-status,
.job-item.disabled .job-item-status {
    background-color: #272D4D;
}
