html, body, .container-fluid {
  background-color: #D6D8DC;
  font-size: 62.5%;
}

.text-input {
  font-size: 16px;
}

.hash-output {
  color: #575B5E;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  color: #575B5E;
  font-weight: normal;
}

#container {
    font-size: 1.8rem;
}

.all-jobs-list {
    list-style: none;
    list-style-type: none;

}

.job-color-status {
    display: inline-block;
    width: 50px;
    height: 25px;
}
